#root {
  text-align: center;
  justify-content: center;
  align-items: center;

  -color-cream:#c6a779;
}
main{
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  
}
header, footer {
  height: 100vh;
  width: 100%;
}

header#title span {
  font-size: 34px;
  line-height: 5px;
  margin-bottom: 25px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-cream);
}
header#app-header nav a{
  margin: 2px;
  padding: 5px;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  border:0;
  background-color: transparent;
}

header#app-header nav a:hover{
  border:0;
  border-bottom:2px solid #c6a779;
  background-color: transparent;
  color: #c6a779;
}
header#app-header nav a.active{
  border:0;
  border-bottom:2px solid #c6a779;
  background-color: transparent;
  color: #c6a779;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

section {
  min-height: 100%;
  width: 100%;
}

.title{
  color: #c6a779;
  font-weight: 700;
  font-size:20px;
}

.text{
  color: #1A202C;
  font-weight: 800;
  font-size: 32px;
}

.text span{
  color:#f14936;
}

#about{
  border-radius: 20px;
  /* overflow-y: scroll; */
  color: #1A202C;
}

#about video{
  object-fit: cover;
  object-position: center;

}